.item {
  display: block;
  height: 40px;
  width: 40px;
  margin: 2px;
}

.tooltip {
  background: var(--color_dark) !important;
  color: var(--color_orange) !important;
  border: 1px solid var(--color_light);
}

.title {
  background: var(--color_dark) !important;
  color: var(--color_orange);
  font-size: 18px;
  border-bottom: none;
}

.github {
  font-size: 30px;
}

.date {
  font-size: 18px;
}

.text {
  color: var(--color_light) !important;
  font-weight: lighter;
}

.lv0 {
  background: var(--color_dark);
}
.lv1 {
  background: var(--color_orange);
  opacity: 0.15;
}

.lv2 {
  background: var(--color_orange);
  opacity: 0.3;
}

.lv3 {
  background: var(--color_orange);
  opacity: 0.5;
}

.lv4 {
  background: var(--color_orange);
  opacity: 0.7;
}

.lv5 {
  background: var(--color_orange);
  opacity: 1;
}
@media screen and (max-width: 500px) {
  .lv0 {
    opacity: 0.5;
  }
}
