.project__card {
  width: 100%;
  border-bottom: 1px dashed var(--color_orange);
}

.img {
  width: 50px !important;
  height: auto !important;
}

.crd {
  width: 100%;
  padding: 5px 0;
  color: var(--color_light);
  background: var(--color_dark);
}

.title {
  color: var(--color_orange);
  font-weight: 300 !important;
  padding-bottom: 3px;
}

.desc {
  color: var(--color_light);
  font-size: 16px;
}

.tag__section {
  display: flex;
  padding-bottom: 5px;
}

.tag {
  margin-right: 3px;
  background: var(--color_orange);
  font-size: 14px;
  color: var(--color_dark);
  font-weight: normal;
  padding: 2px 8px;
  transition: 0.3s all ease-in-out;
}

.tag:hover {
  background: var(--color_light);
  color: var(--color_dark);
  transition: 0.3s all ease-in-out;
}
