.project_card {
  position: relative;
  height: 100%;
  z-index: 5;
  padding: 5px;
  transition: 0.3s all ease-in-out;
  color: var(--color_light);
  border: 2px solid var(--color_orange);
}
.project_card .display-3 {
  position: relative;
  z-index: 6;
}
.project_card img {
  width: 80px;
  float: right;
  transform: translate(0, -20px);
}
.number {
  font-size: 3.5rem;
  line-height: 1.2rem;
  font-weight: 300;
}
.box {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: var(--color_orange);
  /* transform: translate(0, -50px); */
}
.project_card:hover {
  background: var(--color_orange);
  transition: 0.3 all ease-in-out;
}
.inner_box {
  position: absolute;
  z-index: 1;
  width: 70px;
  height: 70px;
  border: 1px solid var(--color_orange-50);
  /* background: var(--color_orange-50); */
  transform: translate(10px, -60px);
}
.project_links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  padding-bottom: 5px;
}
.project_links a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--color_orange); */
  color: var(--white);
  font-size: 16px;
  transition: 0.3s all ease-in-out;
}
.project_links a:hover {
  text-decoration: none;
  color: var(--primary);
  transition: 0.3s all ease-in-out;
}
